.pageequipes{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height:767px;
    /*overflow:hidden;*/
    width: 100%;
}
.title-composition{
    display: flex;
    justify-content: center;
}
.pageequipes img{
    width:100%;
    height:auto;
    object-fit: cover;
}

.pageequipes a{
  color: #FFFFFF;
}

.h1bandeau{
    display: flex;
    top: -70px;
    font-size: 20px;
    z-index: 3;
    position: absolute;
    padding: 1rem;
    text-align: center;
    max-width: 711px;
}
.h1bandeau ::before {
    z-index: -1;
    content: "";
    position: absolute;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    inset: 0;
    background-color: white;
    -webkit-box-shadow: 0px 4px 60px 0px #0000001a;
    box-shadow: 0px 4px 60px 0px #0000001a;
}

.bandeau{

    z-index: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -150px;
    padding-bottom: 25px;
    width:100%;
    background-color: #40762F;
    height: 241px;
}
@media (max-width: 952px){
    .bandeau{
        height: 350px;
    }
}

.actuequipe{
    display: flex;
    justify-content: space-between;
}
.href{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    font-size: 30px;
    bottom: 10px;
    margin: 20px 20px;
}
.href a {
    display: block;
    padding: 20px 20px;
}
.actuequipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.actuequipe a{

    padding: 20px;
}
.actuequipe img{
    width: 100%;
}
/*@media (max-width: 1007px ){*/
/*    .href{*/
/*        padding-top: 350px;*/
/*    }*/
/*}*/