.container-galerie {
    margin-left: 10%;
    margin-right: 10%;
}

#content {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.card {
    display: block;
    position: relative;
}

.card p {
    position: absolute;
    color: white;
    top: 20px;
    font-size: 30px;
}

.card img {
    /*filter: brightness(0.8);*/
    width: 525px;
    height: 526px;

}
.catForm{
    display: flex;
}