.galerie {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 8vw);
    grid-gap: 15px;
    margin-bottom: 15px;
}
.galerie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galerie__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.galerie__item--2{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
}
.galerie__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}.galerie__item--4 {
     grid-column-start: 3;
     grid-column-end: 7;
     grid-row-start: 4;
     grid-row-end: 7;
 }
.galerie__item--5 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 11;
}
.galerie__item--6 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
}