:root {
    /********* Connexion *********/
    --green-bg: #72c3b4;
    --grey-border: #a7a7a7c0;
    --grey-font: #4a4a49;
    --main-bg: #F8F8F8;
    --main-font: "Montserrat", sans-serif;
    --font-title: "Spartan", sans-serif;
}