{% extends 'base.html.twig' %}
{% block title %}Catégories{% endblock %}
    {% block body %}
        <div class="main">
            {{ include('include/_navigation.html.twig') }}
            <div class="content">
                <div class="welcome-container">
                    <h1>Create new Category</h1>

                    {{ include('category/_form.html.twig') }}

                    <a href="{{ path('category_index') }}">back to list</a>
                </div>
            </div>
        </div>

    {% endblock %}
