    <section class="container-check container-large">
        <div class="bloc-check">
            <img src="{{ asset('img/check.svg') }}" alt="Séjours vérifiés">
            <div>
                <h3>Séjours vérifiés</h3>
                <p>L’Adve bénéficie de l’agrément Jeunesse et éducation populaire,  ainsi que des garanties Unat et Atout France.</p>
            </div>
        </div>
        <div class="bloc-check">
            <img src="{{ asset('img/pay.svg') }}" alt="Paiement sécurisé">
            <div>
                <h3>Paiement sécurisé</h3>
                <p>Le paiement n'est pas réalisé en ligne, mais suite à une prise de contact.</p>
            </div>
        </div>
        <div class="bloc-check">
            <img src="{{ asset('img/stop.svg') }}" alt="Annulation">
            <div>
                <h3>Annulation</h3>
                <p>Possibilité d'annuler le séjour, à tout moment, avant le départ.</p>
            </div>
        </div>
    </section>