{% extends 'base.html.twig' %}
{% block title %}Match{% endblock %}
    {% block body %}
        <div class="main">
            {{ include('include/_navigation.html.twig') }}
            <div class="content">
                <div class="welcome-container">
                    <h1>Create new NextMatch</h1>

                    {{ include('match_a_venir/_form.html.twig') }}

                    <a href="{{ path('match_a_venir_index') }}">back to list</a>
                </div>
            </div>
        </div>
    {% endblock %}
