{% extends 'base.html.twig' %}
{% block title %}équipes{% endblock %}
    {% block body %}
        <div class="main">
            {{ include('include/_navigation.html.twig') }}
            <div class="content">
                <div class="welcome-container">
                    <h1>Ajouter une équipe</h1>

                    {{ include('equipe/_form.html.twig') }}

                    <a href="{{ path('equipe_index') }}">back to list</a>
                </div>
            </div>
        </div>

    {% endblock %}
