{{ form_start(form) }}
    <p>Ajouter le nom de la galerie</p>
    {{ form_row(form.name) }}
<div class="bouton-box">

    <button class="bouton-1" style="border: none">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}